*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(20, 20, 20);
    text-align: center;
    padding: 15rem;
}

.container{
    background-color: rgb(29, 29, 29);
    padding: 2rem;
}

input {
    background-color: gray;
    border: none;
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0.2rem;
}

.container > button{
    background-color: red;
    font-size: 1.3rem;
    padding: 0.2rem;
    border-radius: 5px;
}

h1{
    color: white;
    font-size: 2rem;
}

span{
    color: red;
}

.todo {
    background-color: rgb(90, 23, 23);
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}

.delete{
    background-color: red;
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
}

li{
    list-style: none;
}